<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOFMx0HVy0ceSmlj4Tja_35uUV6pHLruk</string>
	<key>GCM_SENDER_ID</key>
	<string>578746855412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edunovaasia.edusis</string>
	<key>PROJECT_ID</key>
	<string>edusis-da3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>edusis-da3b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578746855412:ios:8b70ff30e11c3500a093a1</string>
</dict>
</plist>